main {
  position: relative;
  left: 0;
}

section {
  position: relative;
  left: 0;
  z-index: 5;
  overflow: hidden;
  margin: 0 auto;
}

.header .header__gnb .gnb .gnb__main-menu {
  color: #222;
}

.wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.greeting-head {
  height: auto;
}
.greeting-head__menu {
  width: 100%;
  position: relative;
  margin-top: 20px;
  text-align: left;
  border-bottom: 4px solid #282f3a;
}
.greeting-head__menu ul {
  display: flex;
  justify-content: flex-start;
}
.greeting-head__menu ul li {
  padding: 25px 25px 25px 0;
}
.greeting-head__menu ul li a {
  font-size: 30px;
  font-weight: 600;
}
.greeting-head .container {
  height: auto;
  padding: 140px 120px 0px 120px;
}

.greeting-intro__title {
  position: relative;
  display: inline-block;
  font-size: 44px;
  color: #282f3a;
  margin: 100px 0 50px;
}
.greeting-intro__text {
  position: relative;
  display: flex;
  align-items: center;
  height: 500px;
  background: url(../img/danal_greeting/img_message01.png) no-repeat top/cover;
  border-radius: 30px;
}
.greeting-intro__text p {
  font-size: 44px;
  line-height: 64px;
  letter-spacing: -0.5px;
  font-weight: 700;
  color: #fff;
  padding: 0 100px;
}

.greeting-visual {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  padding: 20px;
}
.greeting-visual h5 {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}
.greeting-visual .container {
  width: 70%;
  margin: 0 auto;
}

.greeting-content {
  position: relative;
  padding-top: 100px;
  display: flex;
  justify-content: flex-start;
}
.greeting-content p {
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 25px;
}
.greeting-content p strong {
  margin-left: 20px;
  font-weight: 600;
  font-size: 24px;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 140px 120px;
  max-width: 1640px;
}