main {
  position: relative;
  left: 0;
  min-width: auto;
}

section {
  height: 800pt;
  position: relative;
  left: 0;
  z-index: 5;
  overflow: hidden;
  margin: 0 auto;
  transition: all 0.25s ease;
}

video {
  width: 100%;
  height: 100vh;
}

.wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.main {
  position: relative;
}

.main-video {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.main-video__txt {
  position: absolute;
  top: 48px;
  z-index: 30;
  margin: 0 auto;
  padding: 240px 40px;
  font-size: 40pt;
  color: #fff;
}
.main-video__arrow {
  padding-top: 200px;
  -webkit-animation: arrow-move 0.5s ease infinite alternate;
          animation: arrow-move 0.5s ease infinite alternate;
}
.main-video .red {
  color: #f00;
}
.main-video .blue {
  color: #00f;
}
.main-video:after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  background: linear-gradient(to right, #031840 40%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.5;
  content: " ";
}

.main-intro {
  width: 100%;
  height: 600px;
  position: relative;
  margin-top: 100vh;
  text-align: center;
  background: url(../img/bg_introduce.png) no-repeat center/2400px 900px #f2f5f9;
  background-position-x: -1300px;
}
.main-intro h2 {
  display: inline-block;
  position: relative;
  margin: 0 0 20px 0;
  font-size: 60px;
  font-weight: 700;
  color: #222;
}
.main-intro h2 em {
  color: #0c64f1;
}
.main-intro p {
  margin: 0 auto;
  font-size: 24px;
  font-weight: 400;
  color: #222;
}
.main-intro p em {
  font-weight: 600;
  color: #0c64f1;
}

.main-intro__inner {
  height: 0px;
  position: relative;
  margin: 0 auto;
  padding: 120px 20px;
  max-width: 1640px;
}

.btn_intro {
  position: relative;
  margin: 60px auto;
  padding: 20px 50px;
  font-size: 18px;
  color: #fff;
  border: rgba(0, 0, 0, 0);
  background: #297bf6;
  border-radius: 100px;
  text-shadow: 1px 1px 0px #073c90,2px 2px 0px #073c90,3px 3px 0px #073c90,4px 4px 0px #073c90,5px 5px 0px #073c90,6px 6px 0px #073c90,7px 7px 0px #073c90,8px 8px 0px #073c90,9px 9px 0px #073c90,10px 10px 0px #073c90,11px 11px 0px #073c90,12px 12px 0px #073c90,13px 13px 0px #073c90,14px 14px 0px #073c90,15px 15px 0px #073c90,16px 16px 0px #073c90,17px 17px 0px #073c90,18px 18px 0px #073c90,19px 19px 0px #073c90,20px 20px 0px #073c90,21px 21px 0px #073c90,22px 22px 0px #073c90,23px 23px 0px #073c90,25px 25px 0px #073c90;
}

/* -- techDanal -- */
.main-tech {
  position: relative;
  font-size: 24px;
  text-align: left;
  color: #fff;
  background-color: #2475ee;
}
.main-tech__inner {
  height: 555px;
  position: absolute;
}
.main-tech__inner h2 {
  display: inline-block;
  position: relative;
  margin: 0;
  font-size: 48px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #fff;
}
.main-tech__inner p {
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}
.main-tech__inner .btn_tech {
  position: relative;
  padding: 10px 40px 10px 0;
  font-size: 18px;
  color: #fff;
  background: url(../img/icon_arr04.png) no-repeat 90% 50%/22px 12px;
}
.main-tech__ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 90%;
  position: absolute;
  top: 45%;
}
.main-tech__ul li {
  padding: 10px 10px;
  list-style: none;
}
.main-tech__ul li p {
  margin-top: 7px;
  font-size: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}
.main-tech__ul li img {
  width: 100px;
  height: 100px;
}

/* -- globalDanal -- */
.main-global {
  height: auto;
  position: relative;
  padding: 40px 0px;
  background: #1b2d50 url(../img/img_main02.png) no-repeat fixed;
  background-size: cover;
}
.main-global__inner {
  height: 555px;
  padding: 0 20px;
  position: absolute;
}
.main-global__inner h2 {
  display: inline-block;
  position: relative;
  margin: 0;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #fff;
}
.main-global__inner p {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}
.main-global__inner .global_inner_btn {
  position: relative;
  padding: 10px 50px 10px 0;
  font-size: 18px;
  color: #fff;
  background: url(../img/icon_arr04.png) no-repeat 90% 50%/22px 12px;
}
.main-global__ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  position: absolute;
  top: 30%;
}
.main-global__ul li {
  width: 100%;
  height: 100%;
  padding: 15px;
  color: #fff;
}
.main-global__ul li dl {
  height: auto;
  padding: 10px 20px;
  background: #2f446d;
  border-radius: 30px;
}
.main-global__ul li dl .amt {
  font-size: 40px;
  font-weight: 700;
}
.main-global__ul li dl .amt .state {
  display: inline-block;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 400;
  vertical-align: center;
}
.main-global__ul li dl .amt .state span {
  font-size: 20px;
  color: #f00;
}
.main-global__ul li dl .amt em {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 18px;
  font-weight: 400;
  color: #59698a;
}
.main-global__ul li dt {
  position: relative;
  margin-bottom: 10px;
  padding: 10px 0;
  font-size: 20px;
  border-bottom: 1px solid #59698a;
}
.main-global__ul li dt em {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 14px;
}
.main-global__ul li dd {
  position: relative;
  overflow: hidden;
  padding: 10px 90px 0 0;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main-global__ul li dd em {
  position: absolute;
  top: 50%;
  right: 0;
  color: rgba(128, 128, 128, 0.5);
}
.main-global__ul .global_ul_btn {
  position: absolute;
  top: 13px;
  right: 0;
  padding: 0 30px 0 0;
  font-size: 14px;
  color: #fff;
  background: url(../img/icon_arr04.png) no-repeat 90% 50%/22px 12px;
}
.main-global .container {
  height: 100vh;
  padding: 0;
}

/*-- family Danal --*/
.main-family {
  width: 100%;
  height: 700px;
  position: relative;
  background: #fff;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}
.main-family h2 {
  display: block;
  margin: 25px 0px;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  color: #3c8aff;
}
.main-family p {
  display: block;
  width: 100%;
  margin-bottom: 80px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: #222222;
  line-height: 38px;
}
.main-family .swiper-family {
  z-index: auto;
}
.main-family .swiper-family .swiper-slide {
  width: 300px;
  height: 400px;
  position: relative;
  padding: 0 15px;
}
.main-family .swiper-family .swiper-slide__img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  left: -150px;
  border-radius: 50%;
}
.main-family .swiper-family .swiper-slide img {
  width: 100%;
  height: auto;
  transition: all 200ms;
}
.main-family .swiper-family .swiper-slide h3 {
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  position: relative;
  left: -100px;
}
.main-family .swiper-family .swiper-slide span {
  display: block;
  position: absolute;
  right: -30px;
  top: 50px;
  z-index: 999;
  padding: 8px 17px;
  font-size: 10pt;
  color: #fff;
  background: #3c8aff;
  border-radius: 50px;
}
.main-family .container {
  padding: 0px;
}

/* -- recruitDanal -- */
.main-recruit {
  height: 600px;
  position: relative;
  padding: 40px 0px;
  background: url(../img/img_main01.png) no-repeat fixed;
}
.main-recruit__inner h2 {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
  font-size: 42px;
  font-weight: 700;
  color: #fff;
}
.main-recruit__inner p {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}
.main-recruit__btn .btn_recruit {
  position: relative;
  padding: 10px 50px 10px 0;
  font-size: 18px;
  color: #fff;
  background: url(../img/icon_arr04.png) no-repeat 90% 50%/22px 12px;
}

/* -- partnerDanal -- */
.main-partner {
  height: 800px;
  position: relative;
  background: #fff;
}
.main-partner__inner h2 {
  display: inline-block;
  position: relative;
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 42px;
  font-weight: 700;
  color: #297bf6;
}
.main-partner__inner p {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 400;
  color: #222;
}
.main-partner__inner__btn .btn-partner {
  position: relative;
  z-index: 999;
  padding: 10px 50px 10px 0;
  font-size: 18px;
  color: #222222;
  background: url(../img/icon_arr05.png) no-repeat 90% 50%/22px 12px;
}
.main-partner__img {
  margin-top: 50px;
  max-width: 1640px;
}
.main-partner__img .partner_img {
  display: block;
  width: 100%;
  height: 300px;
  background: url(../img/img_partner.png) no-repeat center/auto 520px;
  border-radius: 50px;
}

.container {
  width: 100%;
  height: 800px;
  position: relative;
  margin: 0 auto;
  padding: 20px 20px;
  max-width: 1640px;
}

@-webkit-keyframes arrow-move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20%);
  }
}

@keyframes arrow-move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20%);
  }
}