/* css 전처리기 */
@import "vars";
$top: 15px;
body {
  font-family: "Lato", "Pretendard", "Dotum", sans-serif;
  font-size: 16px;
  color: #222;
}
a {
  color: inherit;
  text-decoration: none;
}
p {
  line-height: 1.5;
}
.header {
  $h: 50px;
  width: 100%;
  height: $h;
  position: fixed;
  z-index: 999;
  background: #fff;
  &__btn {
    .btn_header_m {
      width: $h;
      height: $h;
      position: absolute;
      top: 0;
      right: 3px;

      z-index: 1000;
      background-color: #fff;
      span {
        display: block;
        width: 30px;
        height: 2px;
        position: absolute;
        left: 15px;
        background: #111;
        &:nth-child(1) {
          top: $top;
        }
        &:nth-child(2) {
          top: $top + 10px;
        }
        &:nth-child(3) {
          top: $top + 20px;
        }
      }
    }
  }
  &.on {
    .gnb {
      display: block;
      width: 100%;
      top: 50px;
    }
    .btn_header_m {
      span {
        &:nth-child(1) {
          top: $top + 9px;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          top: $top + 9px;
          transform: rotate(-45deg);
        }
      }
    }
  }
  .logo {
    &__link {
      display: flex;
      align-items: center;
      height: $h;
    }
    &__img {
      height: $h * 0.8;
    }
  }
}
.gnb {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  &__main-menu {
    height: 80px;

    font-size: 20px;
    font-weight: 600;
    color: #222;
    opacity: 1;
    transition: all 300ms;
    > li {
      position: relative;
      font-size: 20px;
      text-align: center;
      min-width: 170px;
      &:last-child {
        > ul {
          border-right: 1px solid rgba(128, 128, 128, 0.8);
        }
      }
      > a {
        display: flex;
        justify-content: start;
        padding: 30px;
      }
    }
  }
  &__sub-menu {
    display: none;
    width: 100%;
    height: 100%;
    top: 100px;
    font-size: 16px;
    text-align: left;
    border-left: 1px solid rgba(128, 128, 128, 0.8);
    background: $blue;
    > li {
      display: inline-block;
      padding: 10px 10px;
      text-align: center;
      opacity: 0.4;
      transition: opacity 300ms;
      &:hover {
        color: #0c64f1;
        opacity: 1;
      }
    }
    &.open {
      display: block;
    }
  }
}

.footer {
  width: 100%;
  position: relative;
  z-index: 5;
  border-top: 1px solid #eee;
  background: #fff;
  &__inner {
    position: relative;
    position: relative;
    margin: 0 auto;
    padding: 10px 15px 50px;
    max-width: 1640px;
    &__area-info {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;
      height: auto;
      position: relative;
      h1 {
        display: inline-block;
        width: 98px;
        height: 38px;
        font-size: 0;
        background: url(../img/ci_danal01.png) no-repeat 0 center / 98px 38px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        margin: 15px 0;
        li {
          margin: 10px 0;
          padding: 0 5px;
          font-size: 15px;
          color: #000;
        }
      }
    }
    &__family-site {
      width: 100%;
      .family-site {
        width: 100%;
        height: 40px;
        position: relative;
        top: 50%;
        right: 0;

        padding: 0 10px;
        border: 1px solid #cccccc;
      }
    }
    &__area-location {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative;
      p {
        margin: 20px 0;
        font-size: 12px;
        color: rgba(128, 128, 128, 1);
      }
      span {
        display: inline-block;
        position: relative;
        padding-left: 60px;
        font-size: 13px;
        color: rgba(153, 153, 153, 1);
        &:before {
          display: inline-block;
          width: 50px;
          height: 50px;
          position: absolute;
          top: -9px;
          left: 0;
          background: url(../img/icon_isms.png) no-repeat center / 50px 50px;
          content: "";
        }
      }
    }
  }
}

.btn {
  border: none;
  background: transparent;
  outline: none;
}
.btn_header {
  width: 140px;
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  border: 2px solid;
  transition: all 300ms;
  background-color: transparent;
  border-radius: 100px;
  cursor: pointer;
}
