/* prettier-ignore */
dl,ul,ol,menu,li{
    list-style: none;
}
body {
  font-family: "Pretendard", "Dotum", "돋움", sans-serif;
  color: #111;
  font-size: 16px;
  min-height: 5000px;
}
/* 
    Block요소를 옆으로 나란히 배치하는 방법
    flex는 부모자식간의 관계에서 설정 가능 
*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: fixed;
  /* -- fixed는 body기준 absolute는 부모 기준 */
  top: 0;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  z-index: 999;
  /* -- flex-direction에 의해 결정된 main-axis정렬 -- */
}
header h1 a {
  height: 100px;
  display: flex;
  align-items: center;
}
header h1 a img {
  height: 50px;
}
header nav ul {
  display: flex;
  font-size: 20px;
  font-weight: 600;
}
header nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0 50px;
}
header .btn_header {
  width: 130px;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 100px;
  font-weight: 500;
}
main {
  position: relative;
  left: 0;
}
section {
  overflow: hidden;
  position: relative;
  height: 800pt;
  margin: 0 auto;
  z-index: 5;
  left: 0;
}

p {
  line-height: 1.5;
}
a {
  color: inherit;
  text-decoration: none;
}
input,
textarea {
  font-family: inherit;
}
button {
  border: none;
}
video {
  width: 100%;
}

/* -- class -- */
.wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.visual {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.visual .txt {
  position: absolute;
  font-size: 52pt;
  color: #fff;
  top: 48px;
  padding: 100px 240px;
  margin: 0 auto;
}

.visual .txt p .red {
  color: #f00;
}
.visual .txt p .blue {
  color: #00f;
}

/* -- introDanal -- */
.introDanal {
  margin-top: 45%;
  text-align: center;
  position: relative;
  background: url(../img/bg_introduce.png) no-repeat center / 2400px 900px #f2f5f9;
  width: 100%;
  height: 800px;
}
.introDanal h2 {
  position: relative;
  font-size: 90px;
  color: #222;
  display: inline-block;
  margin: 0 auto;
}
.introDanal h2 em {
  color: #3c8aff;
}
.introDanal p {
  font-size: 44px;
  font-weight: 400;
  color: #222;
  margin: 0 auto;
}
.introDanal p em {
  color: #3c8aff;
  font-weight: 600;
}
.introDanalInner {
  position: relative;
  padding: 140px 120px;
  height: 0px;
  margin: 0 auto;
}
.introDanalInner button {
  position: relative;
  background: #297bf6;
  color: #fff;
  font-size: 18px;
  border-radius: 100px;
  padding: 20px 50px;
  margin: 60px auto;
}

/* -- techDanal -- */
.techDanal {
  position: relative;
  background-color: #2475ee;
  font-size: 24px;
  color: #fff;
  text-align: left;
  padding: 120px 140px;
  height: 800px;
}

.techDanal > div {
  position: absolute;
  height: 555px;
}
.techDanal > div > h2 {
  position: relative;
  font-size: 78px;
  color: #fff;
  display: inline-block;
  margin: 0;
}
.techDanal > div > p {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 80px;
}
.techDanal > div > button {
  position: relative;
  font-size: 18px;
  color: #fff;
  padding: 10px 50px 10px 0;
  background: url(../img/icon_arr04.png) no-repeat 90% 50%/22px 12px;
}
.techDanal > ul {
  position: absolute;
  right: 120px;
  width: 510px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.techDanal > ul li {
  list-style: none;
}
.techDanal > ul li p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-top: 7px;
}
.techDanal > ul li img {
  width: 130px;
  height: 130px;
}

/* -- globalDanal -- */
.globalDanal {
  position: relative;
  background: #1b2d50 url(../img/img_main02.png) no-repeat fixed;
  background-size: cover;
  padding: 140px 120px;
  height: 800px;
}
.globalDanal > div {
  position: absolute;
  height: 555px;
}
.globalDanal > div > h2 {
  position: relative;
  font-size: 78px;
  color: #fff;
  display: inline-block;
  margin: 0;
}
.globalDanal > div > p {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 80px;
}
.globalDanal > div > button {
  position: relative;
  font-size: 18px;
  color: #fff;
  padding: 10px 50px 10px 0;
  background: url(../img/icon_arr04.png) no-repeat 90% 50%/22px 12px;
}
.globalDanal button {
  position: absolute;
  right: 0;
  top: 13px;
  font-size: 14px;
  color: #fff;
  padding: 0 30px 0 0;
  background: url(../img/icon_arr04.png) no-repeat 90% 50%/22px 12px;
}
.globalDanal > ul {
  position: absolute;
  right: 120px;
  width: 780px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.globalDanal > ul li {
  padding: 15px;
  color: #fff;
  width: 390px;
}
.globalDanal > ul li dl {
  background: #2f446d;
  padding: 30px;
  border-radius: 30px;
  height: 190px;
}
.globalDanal > ul li dt {
  position: relative;
  font-size: 20px;
  border-bottom: 1px solid #59698a;
  padding: 10px 0;
  margin-bottom: 10px;
}
.globalDanal > ul li dd {
  position: relative;
  font-size: 14px;
  padding: 10px 90px 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.globalDanal > ul li dd em {
  position: absolute;
  right: 0;
  top: 50%;
  color: rgba(128, 128, 128, 0.5);
}

/*-- family Danal --*/
.familyDanal {
  position: relative;
  background: #fff;
  padding: 120px 140px;
  height: 800px;
}
.familyDanal h2 {
  font-size: 78px;
  font-weight: 700;
  color: #3c8aff;
  display: block;
  text-align: center;
  margin-bottom: 25px;
}
.familyDanal p {
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
  color: #222;
  display: block;
  text-align: center;
  width: 100%;
}

/* -- partnerDanal -- */

.patnerDanal {
  position: relative;
  background: #fff;
  padding: 120px 140px;
  height: 800px;
}
.patnerDanal > div > h2 {
  position: relative;
  font-size: 78px;
  color: #297bf6;
  display: inline-block;
  margin-bottom: 25px;
}
.patnerDanal > div > p {
  font-size: 24px;
  font-weight: 400;
  color: #222;
  margin-bottom: 70px;
}
.patnerDanal > div > button {
  position: relative;
  font-size: 18px;
  color: #222222;
  z-index: 999;
  padding: 10px 50px 10px 0;
  background: url(../img/icon_arr05.png) no-repeat 90% 50%/22px 12px;
}
.patnerDanalInner {
  position: absolute;
  right: 120px;
  bottom: 140px;
}
.patnerDanalInner .partner_img {
  display: block;
  border-radius: 50px;
  width: 800px;
  height: 520px;
  background: url(../img/img_partner.png) no-repeat center / auto 520px;
}

/* -- recruitDanal -- */
.recruitDanal {
  position: relative;
  background: url(../img/img_main01.png) no-repeat fixed;
  padding: 140px 120px;
  height: 800px;
}
.recruitDanal > div > h2 {
  position: relative;
  font-size: 78px;
  color: #fff;
  display: inline-block;
  margin: 0;
}
.recruitDanal > div > p {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 80px;
}
.recruitDanal > div > button {
  position: relative;
  font-size: 18px;
  color: #fff;
  padding: 10px 50px 10px 0;
  background: url(../img/icon_arr04.png) no-repeat 90% 50%/22px 12px;
}

footer {
  position: relative;
  width: 100%;
  border-top: 1px solid #eee;
  background: #fff;
  z-index: 5;
}
.innerFooter {
  position: relative;
  padding: 10px 80px 50px;
  margin: 0 auto;
}
.areaInfo select {
  position: absolute;
  right: 0;
  top: 50%;
  width: 180px;
  height: 40px;
  margin-top: -20px;
  padding: 0 10px;
  border: 1px solid #cccccc;
}
.areaInfo {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  height: 90px;
}
.areaInfo h1 {
  display: inline-block;
  width: 98px;
  height: 38px;
  background: url(../img/ci_danal01.png) no-repeat 0 center / 98px 38px;
  font-size: 0;
}
.areaInfo ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 70px;
}
.areaInfo ul li {
  padding: 0 20px;
  font-size: 15px;
  color: #000;
}
.areaLocation {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.areaLocation p {
  font-size: 14px;
  color: rgba(128, 128, 128, 1);
}
.areaLocation span {
  position: relative;
  font-size: 13px;
  color: rgba(153, 153, 153, 1);
  display: inline-block;
  padding-left: 60px;
}
.areaLocation span:before {
  position: absolute;
  left: 0;
  top: -9px;
  display: inline-block;
  content: "";
  width: 50px;
  height: 50px;
  background: url(../img/icon_isms.png) no-repeat center / 50px 50px;
}

/* -- common class -- */
.hidden {
  display: none;
}
/* -- temporary hidden -- */
header nav ul li > ul {
  display: none;
}
